.dashContainer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    background: rgb(239, 255, 253);
    padding: 5px 10px;
}

.dashCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width : 300px;
    align-content: center;
    gap: 5px;
}
